<!DOCTYPE html>
<html>
<head>
  <title>Connections | <%= applicationName %></title>
  <link rel="stylesheet" type="text/css" href="./vendor/main.min.css">
</head>
<body>
 <div class="well">
  </div>
</body>
<script type="text/javascript" src="vendor/main.min.js"></script>
</html>


